fastapi
marker-pdf
python-dotenv
python-multipart
requests
uvicorn
opencv-python-headless
langchain_community
langchain
tiktoken
pydantic
python-dotenv
transformers
sentence_transformers
sentencepiece
accelerate
torch
langchain_huggingface